body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #131a2d;
}

.header-wrapper {
    display: flex;
    justify-content: center;
    color: #119dbe;
}


.controls-wrapper {
    display: flex;
    justify-content: space-around;
    color: #119dbe;
}

.drop-down-wrapper {
    border: 0.5px solid black;
    display: flex;

}

.timer-wrapper {
    display: flex;
    justify-content: center;
    color: #119dbe;
}

.clock-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid black;
    width: 350px;
    height: 350px;
    border-radius: 350px;
    margin: 15px;
}

#timer {
    font-size: 35px;
}

.workout-name-wrapper {
    display: flex;
    justify-content: center;
    color: #119dbe;
    font-family: 'Black Ops One', cursive;
    font-size: 50px;    
}

.workout-demo-img-wrapper {
    display: flex;
    justify-content: center;
    border-bottom: 10px;
}

.workout-demo-img-wrapper img {
    width: 350px;
}